.heroHeader {
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    &__Title {
        letter-spacing: 10px;
    }
}

.card:hover .overflow-hidden img {
    transform: scale(1.2);
}

.overflow-hidden img {
    transition: all 1s;
}