footer {

    h4 {
        font-size: 0.8rem;
    }
    .footerLinks {
        text-decoration: none;
        color: #8A9299;
        &:hover {
            text-decoration: underline;
        }

    }

}