#navbarContent .navbar-nav .nav-item .nav-link {
    color: #212529;
    &:hover {
        color: #8A9299;
    }
}

.hero {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/header-bg.jpg");
    &__Title {
        letter-spacing: 10px;
    }
}

.homeHeader {
    height: 50vh;
}


.productHeader, .cartHeader {
    height: 25vh;
}